include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include whatsapp_evolution *.css
recursive-include whatsapp_evolution *.csv
recursive-include whatsapp_evolution *.html
recursive-include whatsapp_evolution *.ico
recursive-include whatsapp_evolution *.js
recursive-include whatsapp_evolution *.json
recursive-include whatsapp_evolution *.md
recursive-include whatsapp_evolution *.png
recursive-include whatsapp_evolution *.py
recursive-include whatsapp_evolution *.svg
recursive-include whatsapp_evolution *.txt
recursive-exclude whatsapp_evolution *.pyc